<!DOCTYPE html>
<html>
    <head>
        <meta name="username" content="<%= username %>" />
        <meta name="room" content="<%= room %>" />
        <%- include("partials/head", { title: "Chat | Chat App" }) %>
    </head>
    <body class="chat">
        <div class="chat__sidebar">
            <h3>People</h3>
            <div id="users"></div>
        </div>

        <div class="chat__main">
            <ol id="messages" class="chat__messages"></ol>

            <div class="chat__footer" x-data="{ message: '' }">
                <form
                  id="message-form"
                  x-on:submit.prevent
                >
                    <input
                        autofocus
                        autocomplete="off"
                        name="message"
                        type="text"
                        placeholder="Message"
                        x-model="message"
                    />
                    <button x-on:click="chat.sendMessage(message); message = '';">Send</button>
                </form>
                <button id="send-location" x-on:click="chat.sendLocationMessage()">Send Location</button>
            </div>
        </div>

        <template id="message-template">
            <li class="message">
              <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
              </div>
              <div class="message__body">
                <p style="color: {{color}};">{{text}}</p>
              </div>
            </li>
        </template>

        <template id="location-message-template">
            <li class="message">
              <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
              </div>
              <div class="message__body">
                <a href="{{url}}" target="_blank">My current location</a>
              </div>
            </li>
        </template>

        <script src="vendor.js"></script>
        <script src="app.js"></script>
    </body>
</html>
